body{
	/*background-color: rgb(78,78,78) ;*/
	background-color: rgb(174, 169, 159);
}
.titulo{
	display: block;
	width: 99%;

}


.title_sub{
margin-left: 40px; 
margin-bottom: 5px;
	position: relative;
	font-size: 34px;
	color: rgb(43, 38, 38);
	

}
.name{
	margin-top: 5px;
	margin-left: 40px;
	font-size: 19px;

}

.img{
	width: auto;
	height: auto;
	overflow: hidden;
}

.lista{
	display: flex;
	width: 90%;
	overflow: hidden;
	margin: auto;
	margin-top: 60px;
	
}
.orden{
	justify-content: space-around;	
	position: relative;
	max-width: fit-content;
	margin: auto;
	background: 13px rgb(245, 240, 240);
	padding: 10px;
}
.orden:hover{
	background-color: rgb(222, 225, 225);
}
.div{
	overflow: hidden;
	position: relative;
	max-width: 300px;
	max-height:fit-content;
}
.div img{
	width: 100%;
	height: 100%;
	image-rendering: optimizequality;
	object-fit: cover	;
}



.resumen{
	display: flex;
	width: 90%;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 50%;
	text-align: center;
	align-content: center;

}

.resumen img{
	max-height: 500px;
	max-width: fit-content;
	margin: auto;
	overflow: hidden;
	padding: 10px;
	background-color: #f0eded;

	  }
.texto{

	width: 40%;
	min-width: 100px;
	min-height: 80px;
	display: block;
	margin: auto;
	text-align: justify;
	align-content: center;
	line-height: 1.4;
}
.colabora{
	position: absolute;
	right:  30px;
	top: 25px;
	font-size: 20px;
		color: rgb(0, 0, 0);

}
.colabora:hover{
	cursor: pointer;
	color: #9f140d;

}

.boton{
	position: absolute;
	font-size: 17px;
	color: #000;
	background-color: transparent;
	z-index: 40;
}

.show{
	display: block;
	max-width: 400px;
	max-height: 500px;
}
.ocultar{
	visibility: hidden;
	display: none;
}
.img1_show{
	display: block;
	visibility: visible;
}
.img1_oculta{
	display: none;
}
.zom{
	list-style: none;
	border-style: none;
}
.vista_grande{
  width: 100%;
  height: 100%;
  z-index: 60;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  left: 0;
  right: 0;
  display: none;

}

.img_zom{
  text-align: center;
  margin: auto;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  align-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: hidden;

}

.img_zom::-webkit-scrollbar {
    display: none;
}


.img_zom img{
	margin: auto;
	max-height: 600px;
	height: fit-content;
	padding: 10px;
	background-color: #f0eded;
}
.up{
	align-content: center;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.6);
	z-index: 70;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.up_div{
	z-index: 72;
	width: 40%;
	background-color: white;
	height: 50%;
	border-radius: 20px;
	margin: auto;
	border: solid 3px rgb(20, 20, 20);
	display: flex;

}
.up_div p{
	display: block;
	margin: auto;
	text-align: center;
	font-size: 23px;
}

.up_div img{
	display: flex;
	margin: auto;
	text-align: center;
	align-items: center;
	align-content: center;
	cursor: pointer;
	border: solid 2px rgb(10, 30, 30);
	padding: 20px;
	border-radius: 10px;
}
.up_div img:hover{
	background-color: rgba(60, 60, 60, 0.4);
}